

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fbfbfb;
}

.font {
    font-family: "Gloock", serif;
    font-weight: 400;
    font-style: normal;
    color: #282828;
    font-size: 20px;
    text-align: center;
}

.small-font {
    font-family: "Gloock", serif;
    font-weight: 400;
    font-style: normal;
    color: #282828;
    font-size: 15px;
    text-align: center;
    margin-top: 15px;          /* 텍스트 간의 간격을 추가 */
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: flex-start;
    margin: 20px;
    overflow-x: auto; /* 전체 창에 스크롤 추가 */
    flex-grow: 1;/* 내용에 맞춰서 높이가 늘어나도록 설정 */
}

.first-row {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 450px;
    width: 100%;
    flex-direction: column;
    margin-top: 20px;
}

.title {
    font-family: "Gloock", serif;
    font-weight: 450;
    font-size: 60px;
    color: #282828;
    text-align: center;
    margin-bottom: 15px;
    letter-spacing: 0.15px;
}

.subtitle {
    font-family: "Ubuntu", serif;
    font-weight: 300;
    font-style: normal;
    color: #282828;
    font-size: 23px;
    text-align: center;
}

.row {
    display: flex;
    gap: 20px; /* spacing between boxes */
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    left: 20px;
    justify-content: flex-start;
}

.box1 {
    background-color: #d1e0e1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    height: 200px;
    border-radius: 15px;
    flex: 0 0 200px; /* ensures each box takes up 200px width */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 음영 효과 */
    perspective: 1000px; /* 3D 효과 */
    cursor: pointer;
    transition: transform 0.6s;
}


.box1:hover .card-inner {
    transform: rotateY(180deg);
}

.box1-card-front {
    background-color: #d1e0e1; /* box1의 앞면 색상 */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    border-radius: 15px;
    backface-visibility: hidden; /* 반대쪽이 보이지 않도록 설정 */
}

.box1-card-back {
    background-color: #eeedec; /* box1의 뒷면 색상 */
    transform: rotateY(180deg); /* 카드가 뒤집히면 보이는 뒷면 */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    border-radius: 15px;
    backface-visibility: hidden; /* 반대쪽이 보이지 않도록 설정 */
}


.box2 {
    background-color: #d1d8e1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    height: 200px;
    border-radius: 15px;
    flex: 0 0 200px; /* ensures each box takes up 200px width */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 음영 효과 */
    perspective: 1000px; /* 3D 효과 */
    cursor: pointer;
    transition: transform 0.6s;
}

.box2:hover .card-inner {
    transform: rotateY(180deg);
}

.box2-card-front {
    background-color: #d1d8e1; /* box1의 앞면 색상 */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    border-radius: 15px;
    backface-visibility: hidden; /* 반대쪽이 보이지 않도록 설정 */
}

.box2-card-back {
    background-color: #eeedec; /* box1의 뒷면 색상 */
    transform: rotateY(180deg); /* 카드가 뒤집히면 보이는 뒷면 */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    border-radius: 15px;
    backface-visibility: hidden; /* 반대쪽이 보이지 않도록 설정 */
}


.box3 {
    background-color: #e7dbda;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    height: 200px; 
    border-radius: 15px;
    flex: 0 0 200px; /* ensures each box takes up 200px width */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 음영 효과 */
    perspective: 1000px; /* 3D 효과 */
    cursor: pointer;
    transition: transform 0.6s;
}

.box3:hover .card-inner {
    transform: rotateY(180deg);
}

.box3-card-front {
    background-color: #e7dbda; /* box3의 앞면 색상 */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    border-radius: 15px;
    backface-visibility: hidden; /* 반대쪽이 보이지 않도록 설정 */
}

.box3-card-back {
    background-color: #eeedec; /* box3의 뒷면 색상 */
    transform: rotateY(180deg); /* 카드가 뒤집히면 보이는 뒷면 */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    border-radius: 15px;
    backface-visibility: hidden; /* 반대쪽이 보이지 않도록 설정 */
}

.textbox-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fcfcfc;
    font-family: "Ubuntu", serif;
    font-weight: 300;
    font-style: normal;
    font-size: 60px;
    color: #82a1a3;
    text-align: center;
    height: 200px;
    width: 1260px;  
    border-top: 2px solid #d1e0e1;
    border-bottom: 2px solid #d1e0e1;
    box-sizing: border-box;
    flex-shrink: 0; /* 확장되도록 하기 위해 flex-shrink 설정 */
}

.textbox-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fcfcfc;
    font-family: "Ubuntu", serif;
    font-weight: 300;
    font-style: normal;
    font-size: 60px;
    color: #99a3be;
    text-align: center;
    height: 200px;
    width: 420px;
    border-top: 2px solid #d1d8e1;
    border-bottom: 2px solid #d1d8e1;
    box-sizing: border-box;
    flex-shrink: 0; /* 확장되도록 하기 위해 flex-shrink 설정 */
}

.textbox-2-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fcfcfc;
    font-family: "Ubuntu", serif;
    font-weight: 300;
    font-style: normal;
    font-size: 60px;
    color: #99a3be;
    text-align: center;
    height: 200px;
    width: 600px;
    border-top: 2px solid #d1d8e1;
    border-bottom: 2px solid #d1d8e1;
    box-sizing: border-box;
    flex-shrink: 0; /* 확장되도록 하기 위해 flex-shrink 설정 */
}

.margin-left {
    margin-left: -20px; 
    width: 680px; /* 수정된 값: 너비를 3배로 설정 */
}

.textbox-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fcfcfc;
    font-family: "Ubuntu", serif;
    font-weight: 300;
    font-style: normal;
    font-size: 60px;
    color: #c8b4be;
    text-align: center;
    height: 200px;
    width: 1280px;  /* 수정된 값: 너비를 3배로 설정 */
    border-top: 2px solid #e7dbda;
    border-bottom: 2px solid #e7dbda;
    box-sizing: border-box;
    flex-shrink: 0; /* 확장되도록 하기 위해 flex-shrink 설정 */
}


.card-inner {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.6s;
}
